<div class="input-group input-group-sm">
    <span class="input-group-addon" id="sizing-addon3"><span class="glyphicon glyphicon-search"></span></span>
    <input type="text" ng-keyup="searchUser(searchPattern);" class="form-control" ng-model="searchPattern" placeholder="Enter name, email or phone..." aria-describedby="sizing-addon3">
</div>
<div id="resultsContainer" ng-if="searchContactResults.length > 0" class="col-lg-24 well">
    <div class="media" ng-repeat="contact in searchContactResults">
        <div class="media-left pull-left">
            <a href="#">
                <img class="media-object" src="http://dummyimage.com/48/abc/0011ff" alt="...">
            </a>
        </div>
        <div class="pull-left col-lg-21">
            <button class="btn btn-default pull-right" ng-click="addContact(contact.Id);" type="submit">Add</button>
            <h4 class="media-heading">{{contact.FirstName + ' ' + contact.LastName}}</h4>
            <div class="list-group-item-text">{{contact.Phone || 'no phone number'}}, {{contact.Email}}</div>
        </div>
    </div>
</div>