<div id="contactList" ng-init="getAllFriends();">
    <h1>All contacts</h1>
    <div class="form-group">
        <input ng-model="searchContactForGroupFilter" type="text" class="form-control"
               placeholder="Search" autocomplete="off" />
    </div>
    <ul>
        <li class="btn btn-warning col-lg-24" type="button"
            ng-repeat="contact in groupContactPreview | filter: {UserName: searchContactForGroupFilter}"
            ng-click="addToGroupPreview(contact); addUserIdToGroup(contact.Id)">

            <svg height="10" width="10" ng-show="contact.IsOnline">
                <circle cx="5" cy="5" r="5" stroke="#33CC33" stroke-width="1" fill="#00FF00" />
                Sorry, your browser does not support inline SVG.
            </svg>
            {{contact.UserName}}
            <span class="addButton">Add</span>
        </li>
    </ul>
    <div ng-if="(groupContactPreview | filter: {UserName: searchContactForGroupFilter}).length == 0">No matched contacts</div>
    <div ng-if="groupContactPreview.length == 0">No contacts</div>
</div>
<div>
    <h1>Group users</h1>
    <div class="row col-lg-24 pull-right">
        <div class="input-group">
            <input ng-model="groupName" type="text" class="form-control" placeholder="Custom group name (optional)">
            <span class="input-group-btn">
                <button ng-disabled="!checkForGroupCreation()" ng-click="createGroup(groupName)" class="btn btn-default" type="button">
                    Go!
                </button>
            </span>
        </div>
    </div>
    <br />
    <br />
    <br />
    <ul>
        <li class="btn btn-warning col-lg-24" ng-repeat="contact in groupUsersPreview"
            ng-click="removeFromGroupPreview(contact); removeUserIdFromGroup(contact.Id)">
            <svg height="10" width="10" ng-show="contact.IsOnline">
                <circle cx="5" cy="5" r="5" stroke="#33CC33" stroke-width="1" fill="#00FF00" />
                Sorry, your browser does not support inline SVG.
            </svg>
            {{contact.UserName}}
            <span class="addButton">Remove</span>
        </li>
    </ul>
</div>


