<!--<div class="chatwindow">
    <ul ng-repeat="chatMessage in chatMessages">
        <li><span>{{chatMessage.Sender}} :</span>{{chatMessage.Text}}</li>
    </ul>
    <form class="my-inline" name="">
        <div class="form-group">
            <textarea ng-model="message.Text" class="form-control msd-elastic" placeholder="Message" rows="1" required></textarea>
        </div>
        <button ng-click="sendMessage(message)" type="submit" class="btn btn-primary btn-sm">Send Message</button>
    </form>
</div>-->
<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="navbar-brand">
                    Chat with: Pesho
                </span>
            </div>
        </div>
    </nav>
    <div id="chatContent" class="col-lg-24 well">
     
        <div ng-include="'partials/leftMessageBox.html'"></div>
        <div ng-include="'partials/rightMessageBox.html'"></div>
        <div ng-include="'partials/rightMessageBox.html'"></div>
        <div ng-include="'partials/rightMessageBox.html'"></div>
        <div ng-include="'partials/rightMessageBox.html'"></div>
        <div ng-include="'partials/rightMessageBox.html'"></div>
        <div ng-include="'partials/rightMessageBox.html'"></div>
        <div ng-include="'partials/rightMessageBox.html'"></div>
        <div ng-include="'partials/rightMessageBox.html'"></div>

    </div>
    <div class="col-lg-24 well">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Type...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Send</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div>