<!--<div class="chatwindow">
    <ul ng-repeat="chatMessage in chatMessages">
        <li><span>{{chatMessage.Sender}} :</span>{{chatMessage.Text}}</li>
    </ul>
    <form class="my-inline" name="">
        <div class="form-group">
            <textarea ng-model="message.Text" class="form-control msd-elastic" placeholder="Message" rows="1" required></textarea>
        </div>
        <button ng-click="sendMessage(message)" type="submit" class="btn btn-primary btn-sm">Send Message</button>
    </form>
</div>-->
<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="navbar-brand">
                    Chat with: Pesho
                </span>
            </div>
        </div>
    </nav>
    <div id="chatContent" class="col-lg-24 well">

        <div class="media">
            <div class="media-left pull-left">
                <a href="#">
                    <img class="media-object" src="http://dummyimage.com/48/abc/0011ff" alt="...">
                </a>
            </div>
            <div class="pull-left col-lg-20">
                <h4 class="media-heading">Gosho</h4>
                <div class="list-group-item-text">Ko staa be gosho sadfasdfadsadfa asd f asdfasdf asdfasd fasd fa sdf adf asd f asdf asd fasdfasdfa fasdf adfasdfasdf</div>
            </div>
        </div>
        <div class="media">
            <div class="media-left pull-left">
                <a href="#">
                    <img class="media-object" src="http://dummyimage.com/48/abc/0011ff" alt="...">
                </a>
            </div>
            <div class="pull-left col-lg-20">
                <h4 class="media-heading">Gosho</h4>
                <div class="list-group-item-text">Ko staa be gosho sadfasdfadsadfa asd f asdfasdf asdfasd fasd fa sdf adf asd f asdf asd fasdfasdfa fasdf adfasdfasdf</div>
            </div>
        </div>

        <div class="media">
            <div class="media-right pull-right">
                <a href="#">
                    <img class="media-object" src="http://dummyimage.com/48/abc/0011ff" alt="...">
                </a>
            </div>
            <div class="pull-right col-lg-20">
                <h4 class="media-heading pull-right">Gosho</h4>
                <div style="clear: both; height: 0px;"></div>
                <div class="list-group-item-text pull-right">Ko staa be gosho sadfasdfadsadfa asd f asdfasdf asdfasd fasd fa sdf adf asd f asdf asd fasdfasdfa fasdf adfasdfasdf</div>
            </div>
        </div>


    </div>
    <div class="col-lg-24 well">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Send</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div>