<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="navbar-brand">
                    Chat with: {{currentPrivateChatReceiver}}
                </span>
            </div>
        </div>
    </nav>
    <div id="chatContent" class="col-lg-24 well">
        <!--left-->
        <div ng-repeat="message in chatLog track by $index">
            <div ng-include="'partials/leftMessageBox.html'"></div>
            <div ng-include="'partials/rightMessageBox.html'"></div>
        </div>
    </div>
    <div class="col-lg-24 well">
        <div class="input-group">
            <input ng-model="messageData.Text" type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit" ng-click="sendMessageToUser(messageData)">Send</button>
            </span>
        </div>

        <span id="uploadStatus" style="display: none;">Uploading...</span>
        <input type="file" class="form-control" onchange="sendFile(event);" id="file" value="Send file" />
    </div>
</div>