<!--<form class="form-signin">
    <h1 id="wellcomeMessage">Wellcome to <span class="label label-default">ChatApp!</span></h1>
    <h3 class="form-signin-heading">Please sign in</h3>
    <input ng-model="loginData.username" type="text" id="inputEmail" class="form-control" placeholder="Username"
           required="" autofocus="">
    <input ng-model="loginData.password" type="password" id="inputPassword" class="form-control" placeholder="Password"
           required="">
    <div class="checkbox">
        <label>
            <a href="#/chat">Register</a>
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" ng-click="login()" type="submit">Sign in</button>
</form>-->
<div class="well bs-component">
    <form class="form-horizontal" name="loginForm" id="loginForm" ng-submit="login(loginData)">
        <fieldset>
            <legend>Login</legend>
            <div class="form-group">
                <label for="inputUsername" class="col-lg-4 control-label">Username</label>
                <div class="col-lg-20">
                    <input type="text" class="form-control" id="inputUsername" ng-model="loginData.username" placeholder="Username" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-4 control-label">Password</label>
                <div class="col-lg-20">
                    <input type="password" class="form-control" id="inputPassword" ng-model="loginData.password" ng-minlength="6" placeholder="Password" required="required">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-20 col-lg-offset-4">
                    <a href="#/" class="btn btn-default">Cancel</a>
                    <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Login</button>
                    <a href="#/register" class="btn btn-info col-lg-offset-8">Register Here...</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>