<form class="form-signin" ng-controller="authenticationController" ng-submit="login()">
    <h1 id="wellcomeMessage">Wellcome to <span class="label label-default">ChatApp!</span></h1>

    <h3 class="form-signin-heading">Please sign in</h3>
    <input ng-model="loginData.username" type="text" id="inputEmail" class="form-control" placeholder="Username"
           required="" autofocus="">
    <input ng-model="loginData.password" type="password" id="inputPassword" class="form-control" placeholder="Password"
           required="">

    <div class="checkbox">
        <label>
            <a href="#/chat">Register</a>
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
