<div class="well bs-component">
    <form class="form-horizontal" name="registerForm" id="registerForm" ng-submit="register(registerData)">
        <fieldset>
            <legend>Register</legend>
            <div class="form-group">
                <label for="input-username" class="col-lg-4 control-label">Username</label>
                <div class="col-lg-20">
                    <input type="text" class="form-control" id="input-username" ng-model="registerData.username" placeholder="Username" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="input-password" class="col-lg-4 control-label">Password</label>
                <div class="col-lg-20">
                    <input type="password" class="form-control" id="input-password" ng-model="registerData.password" ng-minlength="6" ng-maxlength="100" placeholder="Password" tooltip="The password must be between 6 and 100 symbols" tooltip-trigger="focus" tooltip-placement="right" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="confirm-password" class="col-lg-4 control-label">Confirm Password</label>
                <div class="col-lg-20">
                    <input type="password" class="form-control" id="confirm-password" ng-model="registerData.confirmPassword" ng-minlength="6" ng-maxlength="100" placeholder="Confirm Password" password-matcher-directive="registerData.password" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="inputFirstName" class="col-lg-4 control-label">First Name</label>
                <div class="col-lg-20">
                    <input type="text" class="form-control" id="inputFirstName" ng-model="registerData.firstName" placeholder="Name" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="inputLastName" class="col-lg-4 control-label">Last Name</label>
                <div class="col-lg-20">
                    <input type="text" class="form-control" id="inputLastName" ng-model="registerData.lastName" placeholder="Name" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="input-email" class="col-lg-4 control-label">Email</label>
                <div class="col-lg-20">
                    <input type="email" class="form-control" id="input-email" ng-model="registerData.email" placeholder="Email" required="required">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-20 col-lg-offset-4">
                    <a href="/#/" class="btn btn-default">Cancel</a>
                    <button type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid">Register</button>
                    <a href="#/login" class="btn btn-info col-lg-offset-8">Login Here...</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
