<div class="media">
    <div class="media-right pull-right">
        <a href="#">
            <img class="media-object" src="http://dummyimage.com/48/abc/0011ff" alt="...">
        </a>
    </div>
    <div class="pull-right col-lg-20">
        <h4 class="media-heading pull-right">Gosho</h4>
        <div style="clear: both; height: 0px;"></div>
        <div class="list-group-item-text pull-right">Ko staa be gosho sadfasdfadsadfa asd f asdfasdf asdfasd fasd fa sdf adf asd f asdf asd fasdfasdfa fasdf adfasdfasdf</div>
    </div>
</div>