@charset "UTF-8";

@font-face {
    font-family: "custom-icons";
    src: url("../fonts/custom-icons/custom-icons.eot");
    src: url("../fonts/custom-icons/custom-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/custom-icons/custom-icons.woff") format("woff"), url("../fonts/custom-icons/custom-icons.ttf") format("truetype"), url("../fonts/custom-icons/custom-icons.svg#custom-icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "custom-icons" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    font-size: 20px;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "custom-icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    font-size: 20px;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 10px;
}


.icon-torsos-all:before {
    content: "a";
}

.icon-torsos:before {
    content: "b";
}

.icon-comment:before {
    content: "c";
}

.icon-home:before {
    content: "d";
}

.icon-dislike:before {
    content: "e";
}

.icon-like:before {
    content: "f";
}

.icon-like-filled:before {
    content: "g";
}

.icon-reply-mail:before {
    content: "h";
}

.icon-remove:before {
    content: "i";
}

.icon-unlike:before {
    content: "j";
}

.icon-trash:before {
    content: "k";
}

.icon-pencil:before {
    content: "l";
}

.icon-log-in:before {
    content: "m";
}

.icon-group:before {
    content: "n";
}

.icon-home-1:before {
    content: "o";
}

.icon-users:before {
    content: "p";
}

.icon-user-add:before {
    content: "q";
}
.icon-home-2:before {
  content: "r";
}

